<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>

    <%- include('nav') %>

    <% if (message) { %>
    <div id="alert" class="alert closebtn alert-<%= message.type %>">
        <strong> <%= message.message %> </strong>
    </div>
    <% } %>

    <div class="columns">
        <div class="column description add-food">
            <div class="blurred-image-up" style="background-image: url(assets/images/vegy-2.jpg);"></div>
            <div class="box1">
                <h2>Edit '<%=food.name%>'</h2>
            </div>
            <div class="add-food-form">
                <form class="adding-food" method="POST">

                    <div class="fields">
                        <label for="name">Food Name</label>
                        <input class="add-input" id="food-name" type="text" name="name" value="<%= food.name%>" />
                    </div>

                    <div class="fields">
                        <label for="typical_value">Typical Value Per</label>
                        <input class="add-input" id="typical-value" type="text" name="typical_value"
                            value="<%= food.typical_value%>" />
                    </div>

                    <div class="fields">
                        <label for="unit">Unit</label>
                        <select class="add-input" id="unit-typical-value" type="text" name="unit"
                            value="<%= food.unit%>">
                            <option value="g">gram(s)</option>
                            <option value="ml">mililiter(s)</option>
                            <option value="cups">cup(s)</option>
                            <option value="tablespoons">tablespoon(s)</option>
                        </select>
                    </div>

                    <div class="fields">
                        <label for="calories">Calories</label>
                        <input class="add-input" id="calories" type="text" name="calories"
                            value="<%= food.calories%>" />
                    </div>

                    <div class="fields">
                        <label for="carbs">Carbohydrates</label>
                        <input class="add-input" id="carbs" type="text" name="carbs" value="<%= food.carbs%>" />
                    </div>

                    <div class="fields">
                        <label for="fat">Fat</label>
                        <input class="add-input" id="fat" type="text" name="fat" value="<%= food.fat%>" />
                    </div>

                    <div class="fields">
                        <label for="protein">Protein</label>
                        <input class="add-input" id="protein" type="text" name="protein" value="<%= food.protein%>" />
                    </div>

                    <div class="fields">
                        <label for="salt">Salt</label>
                        <input class="add-input" id="salt" type="text" name="salt" value="<%= food.salt%>" />
                    </div>

                    <div class="fields">
                        <label for="sugar">Sugar</label>
                        <input class="add-input" id="sugar" type="text" name="sugar" value="<%= food.sugar%>" />
                    </div>

                    <div class="fields">
                        <input id="add-food-btn" class="sub-input" type="submit" value="Add" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer') %>

</body>

</html>