<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>

    <%- include('nav') %>

    <section>

        <% if (message) { %>
        <div id="alert" class="alert alert-<%= message.type %>">
            <strong> <%= message.message %> </strong>
        </div>
        <% } %>

        <div class="columns">
            <div class="column description search-food">
                <div class="blurred-image-sea" style="background-image: url(assets/images/meal-prep.jpg);"></div>
                <div class="box1 box2">
                    <h2>
                        <%= text %>
                    </h2>
                </div>
            </div>
        </div>

        <div class="table-container container is-medium has-pv-med">

            <div class="calc-food hidden">
                <ul>
                    <li class="blue">Your total nutrition sum: </li>
                    <li>Calories: <span id="calories_sum"></span> </li>
                    <li>Carbohydrates: <span id="carbs_sum"></span></li>
                    <li>Total Fat: <span id="fat_sum"></span></li>
                    <li>Protein: <span id="protein_sum"></span></li>
                    <li>Salt: <span id="salt_sum"></span></li>
                    <li>Total Sugars: <span id="sugar_sum"></span></li>
                </ul>
            </div>

            <table class="table-list">
                <tr>
                    <th>Check</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Typical Value Per</th>
                    <th>Unit</th>
                    <th>Calories</th>
                    <th>Carbs(g)</th>
                    <th>Fat(g)</th>
                    <th>Protein(g)</th>
                    <th>Salt(g)</th>
                    <th>Sugar(g)</th>
                    <th>Delete</th>
                </tr>

                <% let i = 0 %>
                <% availableFood.forEach(function(food){ %>

                <tr>
                    <td><input id="check" type="checkbox" name="checkbox" value="<%= i %>"></td>
                    <td><input class="amount-val" id="amount<%= i %>" type="number" name="amount" value="0"></td>
                    <td>
                        <%= food.name %>
                    </td>
                    <td>
                        <%= food.typical_value %>
                    </td>
                    <td>
                        <%= food.unit %>
                    </td>
                    <td id="calories<%= i %>">
                        <%= food.calories %>
                    </td>
                    <td id="carbs<%= i %>">
                        <%= food.carbs %>
                    </td>
                    <td id="fat<%= i %>">
                        <%= food.fat %>
                    </td>
                    <td id="protein<%= i %>">
                        <%= food.protein %>
                    </td>
                    <td id="salt<%= i %>">
                        <%= food.salt %>
                    </td>
                    <td id="sugar<%= i %>">
                        <%= food.sugar %>
                    </td>
                    <td><a class="delete-item" href="/delete-result?id=<%= food.id %>"
                            onclick="return confirm('Are you sure you want to delete `<%= food.name %>`?')">Delete</a>
                    </td>
                </tr>
                <% i++ }) %>
            </table>
            <button id="sum_it">Sum</button>
        </div>
    </section>

    <%- include('footer') %>

    <script src="assets/scripts/list.js"></script>
</body>

</html>