<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>
    <div class="cont">

        <%- include('nav') %>

        <div class="columns">
            <div class="column description">
                <div class="blurred-image-up" style="background-image: url(assets/images/vegy.jpg);"></div>
                <div class="box1">
                    <h2><%= text %></h2>
                    <form class="search-form" action="/update-result" method="GET">
                        <input id="search-box" type="text" name="keyword" placeholder="Search food name">
                        <input id="search-food-btn" type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container is-medium update-section has-pv-med">
        <h3>Your search results</h3>
        <ul class="update-food">
            <% availableFood.forEach(function(food){ %>
            <li><a class="edit-button-ul" href="/edit-food?id=<%= food.id %>"
                    onclick="return confirm('Are you sure you want to edit `<%= food.name %>`?')">Edit</a>
                <b><%= food.name %></b> <span class="nutrition">Nutrition Facts</span>
                <div class="result-info">
                    <span class='close'>X</span>
                    <ul>
                        <li><b><%= food.name %> </b> </li>
                        <li>Serving size: <%= food.typical_value %><%= food.unit %></li>
                        <li>Calories: <%= food.calories %> </li>
                        <li>Carbohydrates: <%= food.carbs %>g</li>
                        <li>Total Fat: <%= food.fat %>g</li>
                        <li>Protein: <%= food.protein %>g</li>
                        <li>Salt: <%= food.salt %>g</li>
                        <li>Total Sugars: <%= food.sugar %>g</li>
                    </ul>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
    <div class="cont">

        <%- include('footer') %>

    </div>
    <script src="/assets/scripts/update.js"></script>
</body>

</html>